<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta property="og:title" content="Jbops"/>
    <meta property="og:image" content="<%= image_url('Jbops.png') %>"/>
    <meta property="og:url" content="https://jbops.herokuapp.com"/>
    <title>JBops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
    ::-webkit-scrollbar {
      width: 12px;
      background-color: #000000;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 12px;
      box-shadow: inset 0 0 6px;
      background-color: #414141;
    }
</style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>


